@model IEnumerable<music_store.Models.Genre>
@{
    ViewBag.Title = "Store";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>MVC Music Store</h2>
<p>Welcome to our Store.  Tell us what you like!</p>
<section class="container">
    @foreach (var item in Model)
    {
        <div class="col-md-4 text-center well">
            <h3>@item.Name</h3>
            <a href="/Store/Albums?genre=@item.Name">
                <button class="btn btn-primary">Shop Now</button>
            </a>
        </div>
    }
</section>


